/* Kleuren  */
:root {
    --text: #ebebeb;
    --background: #141414;
    --primary: #0bcdf4;
    --secondary: #000000;
    --accent: #f26e6e;
    --bg-secondary: #1B1B1B;
    --bg-third: #141414;
    --menubar: #212121;
    --black: #050505;
}

.bc-secondary {
    background-color: var(--bg-secondary);
}

.bc-background {
    background-color: var(--background);
}

/* Reset html */
* {
    margin: 0;
    padding: 0;
}

/* Html elements */
body {
    font-family: "aktiv-grotesk", sans-serif;
    background-color: white;
    color: var(--text);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 500px) {
    body {
        margin: 0vw 30vw 0vw 30vw;
    }
}

@media (min-width: 1400px) {
    body {
        margin: 0vw 35vw 0vw 35vw;
    }
}

/* --- Classes --- */

/* nav */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    width: 400px;
    margin-bottom: 4vh;
    padding: 0px 1vw 0px 1vw;
    background-color: var(--menubar);
    border-radius: 15px;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-nav-home {
    font-size: 20pt;
}

.bottom-nav-arrow {
    height: 40px;
    width: 40px;
}

.bottom-nav-items {
    position: absolute;
}

/* Top space */

.balk {
    height: 10vh;
}

/* Hero */
.hero {
    background-color: var(--bg-secondary);
    height: auto;
    position: relative;
    z-index: -1;
    margin-bottom: -12px;
}

/* .hero-tekst {
    font-size: 32pt;
    font-weight: bold;
    color: var(--primary);
    position: absolute;
    top: 150px;
} */

.hero-img-div {
    z-index: -1;
    object-fit: cover;
}

.hero-img {
    width: 100%;
    height: auto;

}

.blackie {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

/* Tickets */
.ticket {
    height: auto;
    background-color: var(--primary);
    margin: 0px 2vw 1vh 2vw;
    border-radius: 15px;
    /* overflow: hidden; */
    position: relative;
}

.ticket-img-div {
    height: 175px;
    width: auto;
}

.ticket-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.ticket-text {
    text-align: center;
    vertical-align: middle;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.menu-ruimte {
    padding-bottom: 10vh;
    background-color: var(--background);

}

/* double images */

.sm-double-img-div {
    width: auto;
    height: auto;
    display: flex;
    gap: 3%;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.sm-double-img-div img {
    width: 100%;
    border-radius: 10px;
}

.sm-image-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.sm-image-flex a {
    padding-top: 1rem;
}

/* single image */

.sm-single-image-div {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1rem;
}

.sm-single-image-div a {
    padding-top: 1rem;
}

.sm-single-image-div img {
    width: 100%;
    border-radius: 10px;
}


/* .sm-img-div {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 15vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding-bottom: 2vh;
}

.sm-text-div {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vh;
}

.lose-link {
    padding: 0px 0px 3vh 20px;
}

.sm-img-div img {
    border-radius: 15px;
}

.sm-img-div a {
    width: 100px;
} */

/* --- Id --- */
#quote {
    background-color: var(--background);
    padding: 2rem;
    display: flex;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

#quote h1 {
    font-family: "futura-pt", sans-serif;
}

#quote a {
    color: var(--primary);
    text-decoration: underline;
}

#quote a:visited {
    color: var(--primary);
    text-decoration: underline;
}