.balk {
    height: 25vh;
    background-color: var(--black);
}

.sp-div {
    height: 30vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.sp-div img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    border-radius: 20px;
}