/* Html elements */


/* Overview */
.balk {
    position: relative;
    height: 5vh;
    background-color: #212121;
    padding-bottom: 3vh;
    margin-bottom: -12px;
    z-index: -1;
}

.balk-text {
    position: absolute;
    color: var(--primary);
    font-weight: bold;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    padding-bottom: 25px;
    font-size: 25pt;
}

.overview {
    background-color: var(--bg-secondary);
    border-radius: 15px 15px 0px 0px;
    padding: 3vh 0px 3vh 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.overview-div {
    height: 200px;
    width: auto;
    margin: 0px 2vw 2vh 2vw;
    border-radius: 15px;
    text-shadow: 3px 3px 3px black;

    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-text {
    font-family: "aktiv-grotesk", sans-serif;
    color: var(--primary);
    font-size: 18pt;
}

.image-band {
    background-image: url(/images/RockBand.jpg);
    background-position: center;
}

.image-mercedes{
    background-image: url(/images/SaveForWebMercedesBenzTrucks.png);
    background-position: center;
}

.image-x {
    background-image: url(/images/ProjectX.jpg);
}

.image-speeltuin {
    background-image: url(/images/Speeltuin.jpg);
}

.image-development {
    background-image: url(/images/Development.jpg);
    background-position: center;
}

.image-meer {
    background-image: url(/images/Meer.jpg);
    background-position: center;
}

